* {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 800px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border: 2px solid black;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.form-container {
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 8px;
  border-style: solid;
  border-width: 0.2rem;
  border-color: #764ba2;
  background-color: #fcfcfc;
}

.form-container h2 {
  color: #444;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5em;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #963a87;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  
}

button:hover {
  background-color: #764ba2;
  font-size: larger;
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-row .form-group {
  flex: 1;
}

textarea {
  width: 80%;
  height: 15rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.PButton {
  background-color: #064c9c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.PButton:hover {
  background-color: #764ba2
}

.back-button {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.back-button:hover {
  background-color: #5a6268;
}

.resultadoNumRi{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.resultadoNumRi h3{
  text-align: center;
}

.botonesPruebas{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.resultPrueba{
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}